<%= form_tag users_path, method: :get do %>

  <div class="row">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><%= radio_button_tag :type, '1' %></span>
        <span class="input-group-addon">parrainage de plus de </span>
        <span><%= number_field_tag :nbr_users, nil, class:"form-control" %></span>
        <span class="input-group-addon" id="basic-addon3">utilisateurs</span>
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><%= radio_button_tag :type, '2' %></span>
        <span class="input-group-addon" > les </span>
        <span><%= number_field_tag :nbr_godfathers, nil, class:"form-control" %></span>
        <span class="input-group-addon">meilleurs parrains</span>
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><%= radio_button_tag :type, '3' %></span>
        <div class="form-control" style="background-color: #EEEEEE">
          <strong> aucun parrainage </strong>
        </div>
      </div>
      </br>
      <%= submit_tag :Filtrer, class: "btn btn-primary active btn-md" %>
    </div>
    <div class="col-md-6"></div>
  </div>
<% end %>


