<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>User : <%= @user.id %></h1>
</div>

<div class="row">
  <label class="col-sm-2" >Username</label>
  <p><%= @user.username %></p>
</div>
<div class="row">
  <label class="col-sm-2" >Nom</label>
  <p><%= @user.lastname %></p>
</div>
<div class="row">
  <label class="col-sm-2" >Prénom</label>
  <p><%= @user.firstname %></p>
</div>
</br></br>
<div class="row">
  <label class="col-sm-2" >Parrain initial</label>
  <p><%= @user.init_godfather_name if !(@user.init_godfather_name == @user.username) %></p>
</div>
</br></br>
<%= link_to 'Modifier', edit_user_path(@user), class:"btn btn-default btn-sm active" %>
<%= link_to 'Retour index', users_path, class:"btn btn-primary btn-sm active" %>

</br></br>
<h3 class="page-header">Arborescence</h3>
<div class="tree well">
  <%= render partial: "godchildren", locals: { user: @user } %>
</div>


